<h1>Create Booking</h1>

<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

    <div>

      <label>
        Service
      </label>

      <select
        formControlName="serviceId"
        (change)="onServiceSelected($event)">

      <option [value]="0">
          Select service
        </option>

        @for (service of services; track service.id) {
          <option [value]="service.id">
            {{service.name}}
          </option>
        }

      </select>
      @if (
        bookingForm.controls.serviceId.touched &&
        bookingForm.controls.serviceId.invalid
        ) {
        <p class="validation-error">
          Please select a service.
        </p>
      }

      <app-date-picker
        (dateSelected)="onDateSelected($event)">
      </app-date-picker>

      <app-slot-picker
        [selectedDate]="selectedDate"
        (slotSelected)="onSlotSelected($event)">
      </app-slot-picker>
    </div>


  @if (errorMessage) {

    <div class="error-message">
      {{ errorMessage }}
    </div>

  }

  <button
    type="submit"
    [disabled]="bookingForm.invalid || !selectedDate || !selectedSlot || isLoading">

    {{ isLoading ? 'Creating...' : 'Create' }}

  </button>

</form>
