<h1>Create Booking</h1>

<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">

    <div>

      <label>
        Service
      </label>

      <select formControlName="serviceId">

        <option [value]="0">
          Select service
        </option>

        @for (service of services; track service.id) {
          <option [value]="service.id">
            {{service.name}}
          </option>
        }

      </select>

    </div>

  <div>
    <label>
      Start time
    </label>

    <input
      type="datetime-local"
      formControlName="startTime">
  </div>


  <div>
    <label>
      End time
    </label>

    <input
      type="datetime-local"
      formControlName="endTime">
  </div>

  @if (errorMessage) {

    <div class="error-message">
      {{ errorMessage }}
    </div>

  }

  <button type="submit">
    Create
  </button>

</form>
