.register-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.register-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
}


.register-container input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}


.register-container button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #d1e7dd;
  cursor: pointer;
  font-weight: 600;
}


.register-container a {
  margin-top: 20px;
}
